---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectEntries = await getCollection("project", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  });

  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const {
  entry,
  entry: {
    data: { cover, description, links, tags, title },
  },
} = Astro.props;
const { Content } = await entry.render();
---

<Layout title={title}>
  <section class="md:grid md:grid-cols-12">
    <main class="bg-background md:col-span-7 md:flex lg:col-span-6">
      <div
        class="space-y-3 p-4 sm:p-8 md:self-center lg:ml-auto lg:w-[40rem] lg:max-w-full"
      >
        <h1 class="text-3xl font-bold">{title}</h1>
        <p>{description}</p>
        <ul class="flex flex-auto flex-row space-x-2">
          {
            tags.map((tag) => (
              <li class="py-2-sm rounded-lg border border-white px-3">{tag}</li>
            ))
          }
        </ul>
        <ul class="grid grid-cols-2 gap-2">
          <li>
            <a
              class="block bg-accent p-2 text-center font-semibold"
              href={links.repo}>GitHub Repo</a
            >
          </li>
          <li>
            <a
              class="block bg-accent p-2 text-center font-semibold"
              href={links.youtube}>YouTube Tutorial</a
            >
          </li>
          <li class="col-span-2">
            <a
              class="block bg-accent p-2 text-center font-semibold"
              href={links.demo}>View Demo</a
            >
          </li>
        </ul>
      </div>
    </main>

    <aside class="md:col-span-5 lg:col-span-6">
      <Image
        class="md:h-full md:w-full md:object-cover md:object-center"
        src={cover.src}
        alt={cover.alt}
        inferSize={true}
      />
    </aside>
  </section>

  <section class="prose mx-auto p-4">
    <Content />
  </section>
</Layout>
