---
import { Image } from "astro:assets";
import type { InferEntrySchema } from "astro:content";

import { formattedPublishDate } from "../utils/formatPublishDate";

interface Props {
  slug: string;
  data: InferEntrySchema<"newsletter">;
}

const {
  data: { edition, publishDate, thumbnail, title },
  slug,
} = Astro.props;
---

<article class="">
  <a href={`/newsletter/${slug}`}
    ><Image src={thumbnail.src} alt={thumbnail.alt} inferSize={true} /></a
  >
  <section class="bg-white p-3">
    <h2 class="text-xl font-semibold">
      <a href={`/newsletter/${slug}`}>{title}</a>
    </h2>
    <small class="text-sm opacity-90">
      Edition {edition} -{" "}
      <time datetime={publishDate.toISOString()}>
        {formattedPublishDate(publishDate)}
      </time>
    </small>
  </section>
</article>
