---
import { Image } from "astro:assets";
import type { InferEntrySchema } from "astro:content";
import Button from "./Button.astro";
import { getSrcImage } from "../utils/getSrcImage";

interface Props {
  slug: string;
  data: InferEntrySchema<"project">;
}

const {
  data: { links, thumbnail, title },
  slug,
} = Astro.props;
const thumbnailImage = await getSrcImage(thumbnail.src);
---

<article class="">
  <a href={`/project/${slug}`}
    ><Image src={thumbnailImage} alt={thumbnail.alt} /></a
  >
  <section class="bg-white p-3">
    <h2 class="mb-3 text-xl font-semibold">
      <a href={`/project/${slug}`}>{title}</a>
    </h2>
    <small class="text-sm opacity-90">
      <ul class="grid grid-cols-2 gap-2">
        <li>
          <Button href={links.repo} theme="github" fullWidth>GitHub Repo</Button
          >
        </li>
        <li>
          <Button href={links.youtube} theme="youtube" fullWidth
            >YouTube Tutorial</Button
          >
        </li>
        <li class="col-span-2">
          <Button href={links.demo} fullWidth>View Demo</Button>
        </li>
      </ul>
    </small>
  </section>
</article>
