---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import NewsletterForm from "../../components/NewsletterForm";
import Layout from "../../layouts/Layout.astro";
import { formattedPublishDate } from "../../utils/formatPublishDate";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const newsletterEntries = await getCollection("newsletter", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  });

  return newsletterEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const {
  entry,
  entry: {
    data: { edition, publishDate, thumbnail, title },
  },
} = Astro.props;
const { Content } = await entry.render();
---

<Layout title={title}>
  <section class="bg-background md:grid md:grid-cols-2">
    <main class="p-4 sm:p-8 md:self-center lg:ml-auto lg:w-[40rem]">
      <small class="text-sm opacity-90">Edition {edition}</small>
      <h1 class="text-3xl font-bold">{title}</h1>
      <time class="opacity-90" datetime={formattedPublishDate(publishDate)}
        >Published on {formattedPublishDate(publishDate)}</time
      >
    </main>

    <aside>
      <Image src={thumbnail.src} alt={thumbnail.alt} inferSize={true} />
    </aside>
  </section>

  <div
    class="md:grid md:grid-cols-2 md:items-start lg:mx-auto lg:max-w-screen-xl"
  >
    <section class="prose p-4 sm:p-8">
      <Content />
    </section>

    <section
      class="prose m-4 space-y-2 bg-background p-8 sm:m-8 md:sticky md:top-8"
    >
      <h3>Knowledge for the healthier, wealthier, long term developers</h3>
      <p>
        Sign up to my weekly newsletter for software engineers/developers that
        want to grow. I share my past successes and failures so you can get a
        head of the rest.
      </p>
      <NewsletterForm />
    </section>
  </div>
</Layout>
