---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import { formattedPublishDate } from "../../utils/formatPublishDate";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const newsletterEntries = await getCollection("newsletter", ({ data }) => {
    return import.meta.env.PROD ? data.isDraft !== true : true;
  });

  return newsletterEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const {
  entry,
  entry: {
    data: { edition, publishDate, thumbnail, title },
  },
} = Astro.props;
const { Content } = await entry.render();
---

<Layout title={title}>
  <section>
    <div class="bg-slate-200 p-4">
      <small class="text-sm opacity-90">Edition {edition}</small>
      <h1 class="text-3xl font-bold">{title}</h1>
      <time class="opacity-90" datetime={formattedPublishDate(publishDate)}
        >Published on {formattedPublishDate(publishDate)}</time
      >
    </div>

    <Image src={thumbnail.src} alt={thumbnail.alt} inferSize={true} />
  </section>

  <section class="prose p-4">
    <Content />
  </section>
</Layout>
